* {
    /* box-sizing: border-box
    margin: 0;
    padding: 0; */
    font-family: "Proxima Nova", sans-serif;
}

body {
    background: black;
    color: white;
    margin: 0px;
}

.picture {
    background-image: url(001.jpg);
    background-size: 100%;
    padding-bottom: 150px;
    padding-top: 20px;
}

header {
    display: flex;
}

.nav label {
    font-size: 34px;
    padding-left: 70px;
}

.items{
    margin-top: 5px;
    padding-left: 670px;
}

.ilabel {
    cursor: pointer;
    font-size: 20px;
    padding-left: 20px;
}

.main {
    background: white;
    color: white;
}

h1 {
    font-size: 90px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.think {
    color: white;
    height: 300px;
    padding-bottom: 0px;
    padding-left: 70px;
}

.think p {
    line-height: 25px;
}

.visit {
    background: #2AC9E4;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    height: 45px;
    width: 110px
}

.why {
	border-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.why p{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 60px;
}

.choose {
    background: #E9F2FB;
    color: black;
    /* height: 60px; */
    padding-top: 40px;
    margin-bottom: 0px;
    text-align: center;
}

.white {
    text-align: center;
    background: white;
    color: black;
    display: flex;
    padding-bottom: 100px;
    padding-left: 330px;
    padding-top: 80px;
}

.white div {
    padding-left: 70px;
    padding-right: 70px;
}

.white button {
    font-size: 11px;
}

.more {
    border: 0;
    cursor: pointer;
    border-bottom: 2px solid #2AC9E4;
}

footer {
    align-items: center;
    background: #292E32;
    color: white;
    padding-bottom: 30px;
    padding-top: 10px;
    text-align: center;
}

footer img{
    cursor: pointer;
    height: 15px;
    width: 10px;
}